{% extends 'portfolio/padre.html' %}

{% load static %}

{% block title %}Buscar Receta{% endblock %}

{% block contenido %}

<section class="bsb-blog-5 py-3 py-md-5 py-xl-8">
  <div class="container px-5">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <div class="text-center mb-5">
          <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-5 mb-3">
            <i class="bi bi-search"></i>
          </div>
          <h2 class="display-6 text-center"><span style="font-weight: 900;">Buscar</span></h2>
          <p class="text-muted mb-4 mb-md-5">por título exacto o parcial</p>
        </div>
      </div>
    </div>

    <div class="row gx-6 justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4" style="max-width: 450px;">
        <form method="get" action="{% url 'buscador' %}">
          <div>
            <label for="busqueda" class="form-label">if hambre:</label>
            <input type="text" class="form-control" id="busqueda" name="q" placeholder="Ej: empanadas">
          </div>
          <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
