{% extends 'portfolio/padre.html' %}

{% load static %}

{% block title %}{{ receta.titulo }}{% endblock %}

{% block contenido %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            
            {% if receta.foto %}
                {# Contenedor para el Aspect Ratio 16:9 #}

                <div class="ratio ratio-16x9 mb-2 rounded overflow-hidden">
                    <img src="{{ receta.foto.url }}" class="img-fluid" alt="{{ receta.titulo }}" style="object-fit: cover;">
                </div>
            {% endif %}
            <div class="text-end"> {# ¡Añade class="text-end" aquí! #}
                <p style="font-size: medium;">Publicado por <a href="{% url 'perfil_publico' receta.autor.username %}" style="color: purple" class="text-decoration-none fw-bold" >{{ receta.autor.username }}</a> el {{ receta.fecha }}</p>
            </div>
            <h1 class="mb-3 fw-bolder">{{ receta.titulo }}</h1>

            {% if receta.categorias %}
                {% for categoria_display in receta.get_categorias_display %}
                    <span class="badge bg-gris me-1" style="background-color: #9b9b9b !important;">{{ categoria_display }}</span>
                {% endfor %}     
            {% else %}
                <p>Sin categorías.</p>
            {% endif %}

            <div class="my-4">
                <div class="ck-content" style="margin-top: 2rem;">{{ receta.receta|safe }}</div>
            </div>
            
            <a href="{% url 'recetas' %}" class="btn btn-secondary mt-4 text-white fw-bold">← Volver a todas las recetas</a>
        </div>
    </div>
</div>

{% endblock %}