{% extends 'portfolio/padre.html' %}

{% load static %}

{% block title %}{{ receta.titulo }}{% endblock %}

{% block contenido %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            
            {% if receta.foto %}
                <img src="{{ receta.foto.url }}" class="img-fluid mb-4 rounded" alt="{{ receta.titulo }}">
            {% endif %}

            <h1 class="mb-3 fw-bolder">{{ receta.titulo }}</h1>

            <!-- MUESTRA LA ETIQUETA-->
            {% if receta.categorias.all %}
                <div class="mt-2">
                    {% for categoria in receta.categorias.all %}
                        <span class="badge bg-secondary me-1 mb-1" style="background-color: #9b9b9b !important;">{{ categoria.nombre }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="my-4">
                <div class="ck-content" style="margin-top: 4rem;">{{ receta.receta|safe }}</div>
            </div>

            <a href="{% url 'recetas' %}" class="btn btn-secondary mt-4 text-white fw-bold">← Volver a todas las recetas</a>
        </div>
    </div>
</div>

{% endblock %}
