{%  extends 'portfolio/padre.html' %}
 
{% load static %}

{% block title %}Inicio{% endblock %}

{% block contenido %}


<section class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-start"> 
                <div class="py-5 px-4 px-md-5">
                    <div class="mb-5">

                        <!-- ELEMENTOS PAUTA -->
                        <h2 class="mb-4">PAUTA TP 3</h2>

                        <h3 class="pt-4">Consigna</h3>
                        <p>
                            Crea una web en Django utilizando Herencia de plantillas, con un modelo de por lo menos 3 clases,
                            un formulario para ingresar datos a las 3 clases y un formulario para buscar algo en la BD. No hace
                            falta que sea sobre las tres clases, con realizar búsqueda sobre una alcanzará.
                        </p>

                        <h3 class="pt-4">Te sugerimos</h3>
                        <p>Que hagas una web estilo blog para ir preparando en la entrega final.</p>

                        <h3 class="pt-4">Objetivos</h3>
                        <p>Desarrollar tu primer WEB en Django utilizando patrón MVT.</p>

                        <h3 class="pt-4">Requisitos</h3>
                        <p>Link de GitHub con el proyecto totalmente subido a la plataforma.</p>

                        <h3 class="pt-4">Proyecto Web Django con patrón MVT que incluya:</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Herencia de HTML.</li>
                            <li class="list-group-item">Por lo menos 3 clases en models.</li>
                            <li class="list-group-item">Un formulario para insertar datos a por cada model creado.</li>
                            <li class="list-group-item">Un formulario para buscar algo en la BD.</li>
                            <li class="list-group-item">Readme que indique el orden en el que se prueban las cosas y/o donde están las funcionalidades.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

                

{% endblock %}
